.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr {
    width: 100%;
}
button {
    margin: 5px;
}
#task-1 {
    height: 100px;
    width: 100px;
    background: black;
    margin: 10px;
}
#task-2 {
    height: 100px;
    width: 100px;
    background: black;
    margin: 10px;
}
.hidden {
    visibility: hidden;
}
.task-3 {
    height: 100px;
    width: 100px;
    background: black;
    margin: 10px;
}
#task-5 {
    height: 100px;
    width: 100px;
    background: yellow;
}
#task-6 {
    height: 50px;
    width: 50px;
    background: red;
}
#task-7 {
    height: 20px;
    width: 50px;
    background: green;
}
#task-10 {
    height: 100px;
    width: 230px;
    position: fixed;
    top: 0;
    left: calc(100% - 230px);
    background: burlywood;
}
.task-13 {
    width: 200px;
    height: 150px;
    background: lightgray;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
}
.backToTop {
    position: fixed;
    left: calc(100% - 100px);
    bottom: 50px;

}
#task-15-big {
    width: 300px;
    height: 50px;
    background: black;
}
#task-15-small {
    margin: 15px auto auto;
    width: 200px;
    height: 20px;
    background: lightblue;
}
#task-16-square {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: lightgrey;
    opacity: 0.5;
}
#form-drop {
    border: 2px dashed lightgrey;
    border-radius: 15px;
    width: 50%;
    margin: 50px auto;
    padding: 15px;
}
#form-drop.active {
    border-color: green;
}
.button {
    display: inline-block;
    padding: 10px;
    background: darkslategray;
    cursor: pointer;
    border: 1px solid darkolivegreen;
    border-radius: 5px;
}
.button:hover {
    background: aquamarine;
}
#file {
    display: none;
}
.addFiles {
    color: green;
    font-size: 24px;
    border: aqua solid 1px;
}